body {
  background-color: black;
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
}

#h1 {
  color: white;
}

.center1 {
  text-align: center;
  line-height: 250%;
}

.position {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 3%;
}

#form {
   font: bold 2.2em "Verdana";
   font-size: 20px;
   text-align: center;
}
