
h1 {
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}

#h1 {
  color: white;
}

body {
  background-color: black;
}

#tasks {
    width: 70%;
    margin-top: 18px;
    border-spacing: 10px;
    color: white;
}

#textbox {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 40px;
    width: 95%;
    font-family: sans-serif;
    color: #303030;
    font-size: 25px;


    text-align: center;
}

#addButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 40px;
    width: 90%;
    font-family: sans-serif;
    font-size: 20px;
}

.text {
    text-indent: 10px;
    font-size: 20px;
    border: 2px solid;
}

.check {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: auto;
    height: 25px;
    width: 25px
}

.remove-button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: auto;
}

.input-table {
    width: 80%;
    margin-top: 50px;
}

.row {
    margin-top: 20px;
    height: 40px;
}

.priority-button, .remove-button, .completed-button  {
    width: 40px;
    text-align: center;
    background-color: black;
    border: 2px solid;
}


.priority-button {
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 25px;
}

table {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
